h3 {
    font-size: 1.25rem;
}


footer section .container{
  max-width: 100%;
}

.newsbtn{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-text{
    margin-top: 5rem;
  }
}

@media screen and (max-width:767px) {
  footer{
    text-align: center;
  }

  .footer-text{
    margin-top: 2rem;
  }

  .newsbtn{
    margin-top: 1rem;
    width: 100%;
  }
}


